

.table tr th {
	text-align:center;
}

.table tr td {
	text-align:center;
}

label {
	font-weight: bold;
}

.para {
	font-size: 16px;
	font-weight: bold;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    left:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}