div#container {
	background-image: url('../img/maps/luzon_main.png');
	background-size: 100% 100%;
	height: 600px;
	width: 450px;
}

div.fixed#isabela {
	margin-left: 230px;
	margin-top: 90px;
}

div.fixed#angelespampanga {
	margin-left: 177px;
	margin-top: 175px;
}

div.fixed#sanfernandopampanga {
	margin-left: 185px;
	margin-top: 185px;
}

div.fixed#manila {
	margin-left: 200px;
	margin-top: 205px;
}

div.fixed#antipolo {
	margin-left: 220px;
	margin-top: 205px;
}

div.fixed#laguna {
	margin-left: 205px;
	margin-top: 225px;
}

div.fixed#nuevaecija {
	margin-left: 205px;
	margin-top: 145px;
}

div.fixed#cavite {
	margin-left: 200px;
	margin-top: 235px;
}

div.fixed#alasasinbataan {
	margin-left: 160px;
	margin-top: 220px;
}

div.fixed#biaanbataan {
	margin-left: 150px;
	margin-top: 190px;
}

div.fixed#mabucobataan {
	margin-left: 160px;
	margin-top: 200px;
}

div.fixed#barrancamandaluyong {
	margin-left: 185px;
	margin-top: 200px;
}

div.fixed#mcarthurtarlac {
	margin-left: 170px;
	margin-top: 160px;
}

div.fixed#tordesillasmakati {
	margin-left: 195px;
	margin-top: 215px;
}

div.fixed#northaveqc {
	margin-left: 195px;
	margin-top: 223px;
}

div.fixed#shawblvdpasig {
	margin-left: 190px;
	margin-top: 230px;
}

div.fixed#angellinaomalate {
	margin-left: 190px;
	margin-top: 220px;
}

div.fixed#tandangkutyorizal {
	margin-left: 200px;
	margin-top: 215px;
}

div.fixed#bonotlegazpi {
	margin-left: 385px;
	margin-top: 290px;
}

div.fixed#malhacanbulacan {
	margin-left: 190px;
	margin-top: 195px;
}

div.fixed#sandionisiopque {
	margin-left: 195px;
	margin-top: 195px;
}

div.fixed#delmonteqc {
	margin-left: 195px;
	margin-top: 230px;
}

div.fixed#onedtimakati {
	margin-left: 200px;
	margin-top: 195px;
}

div.fixed#dmacapagalpasay {
	margin-left: 205px;
	margin-top: 210px;
}

div.fixed#lankaancavite {
	margin-left: 215px;
	margin-top: 220px;
}

div.fixed#gilpuyatmakati {
	margin-left: 205px;
	margin-top: 198px;
}

div.fixed#pasongtamomakati {
	margin-left: 213px;
	margin-top: 205px;
}

div.fixed#kamagongmakati {
	margin-left: 213px;
	margin-top: 195px;
}

div.fixed#bambanglaguna {
	margin-left: 205px;
	margin-top: 190px;
}

div.fixed#sanfelipepampanga {
	margin-left: 175px;
	margin-top: 200px;
}

div.fixed#batangasmarivelesbataan {
	margin-left: 155px;
	margin-top: 215px;
}

div.fixed#doloressanfernando {
	margin-left: 175px;
	margin-top: 195px;
}

div.fixed#delmontebulacan {
	margin-left: 175px;
	margin-top: 195px;
}

div.fixed#aureasannicolaspampanga {
	margin-left: 175px;
	margin-top: 185px;
}

div.fixed#purezamanila {
	margin-left: 195px;
	margin-top: 225px;
}

div.fixed#calataganbatangas {
	margin-left: 195px;
	margin-top: 240px;
}

div.fixed#fernandinosannicolaspampanga {
	margin-left: 190px;
	margin-top: 190px;
}

div.fixed#sucatmuntinlupa {
	margin-left: 215px;
	margin-top: 230px;
}

div.projectTitle#isabela {
	margin-left: 300px;
	margin-top: 60px;
}

div.projectTitle#nuevaecija {
	margin-left: 310px;
	margin-top: 90px;
}

div.projectTitle#pampanga {
	margin-left: 310px;
	margin-top: 130px;
}

div.projectTitle#antipolo {
	margin-left: 320px;
	margin-top: 185px;
}

div.projectTitle#laguna {
	margin-left: 300px;
	margin-top: 215px;
}

div.projectTitle#manila {
	margin-left: -30px;
	margin-top: 203px;
}

div.projectTitle#cavite {
	margin-left: -20px;
	margin-top: 235px;
}

div.projectTitle#biaanbataan {
	margin-left: -20px;
	margin-top: 260px;
}

div.projectTitle#mabucobataan {
	margin-left: -20px;
	margin-top: 285px;
}

div.projectTitle#alasasinbataan {
	margin-left: -20px;
	margin-top: 305px;
}

div.projectTitle#barrancamandaluyong {
	margin-left: 330px;
	margin-top: 168px;
}

div.projectTitle#mcarthurtarlac {
	margin-left: 300px;
	margin-top: 110px;
}

div.projectTitle#tordesillasmakati {
	margin-left: 450px;
	margin-top: 235px;
}

div.projectTitle#northaveqc {
	margin-left: 450px;
	margin-top: 255px;
}

div.projectTitle#shawblvdpasig {
	margin-left: 450px;
	margin-top: 275px;
}

div.projectTitle#angellinaomalate {
	margin-left: 450px;
	margin-top: 295px;
}

div.projectTitle#tandangkutyorizal {
	margin-left: 450px;
	margin-top: 315px;
}

div.projectTitle#bonotlegazpi {
	margin-left: 450px;
	margin-top: 335px;
}

div.projectTitle#malhacanbulacan {
	margin-left: 450px;
	margin-top: 355px;
}

div.projectTitle#sandionisiopque {
	margin-left: 450px;
	margin-top: 375px;
}

div.projectTitle#delmonteqc {
	margin-left: 450px;
	margin-top: 395px;
}

div.projectTitle#dmacapagalpasay {
	margin-left: 450px;
	margin-top: 415px;
}

div.projectTitle#lankaancavite {
	margin-left: 450px;
	margin-top: 435px;
}

div.projectTitle#gilpuyatmakati {
	margin-left: -20px;
	margin-top: 325px;
}

div.projectTitle#pasongtamomakati {
	margin-left: -20px;
	margin-top: 345px;
}

div.projectTitle#kamagongmakati {
	margin-left: -20px;
	margin-top: 365px;
}

div.projectTitle#bambanglaguna {
	margin-left: -20px;
	margin-top: 385px;
}

div.projectTitle#sanfelipepampanga {
	margin-left: -20px;
	margin-top: 405px;
}

div.projectTitle#batangasmarivelesbataan {
	margin-left: -20px;
	margin-top: 425px;
}

div.projectTitle#doloressanfernando {
	margin-left: -20px;
	margin-top: 445px;
}

div.projectTitle#delmontebulacan {
	margin-left: 450px;
	margin-top: 455px;
}

div.projectTitle#aureasannicolaspampanga {
	margin-left: 450px;
	margin-top: 475px;
}

div.projectTitle#purezamanila {
	margin-left: 450px;
	margin-top: 495px;
}

div.projectTitle#calataganbatangas {
	margin-left: 450px;
	margin-top: 515px;
}

div.projectTitle#fernandinosannicolaspampanga {
	margin-left: -20px;
	margin-top: 465px;
}

div.projectTitle#sucatmuntinlupa {
	margin-left: 450px;
	margin-top: 535px;
}
