div#mcontainer {
	background-image: url('../img/maps/mindanao_main.png');
	background-size: 100% 100%;
	width: 380px;
	height: 400px;
}

div.fixed#iligan {
	margin-left: 290px;
	margin-top: 248px;
}

div.fixed#zamboanga {
	margin-left: 78px;
	margin-top: 295px;
}

div.fixed#davao {
	margin-left: 233px;
	margin-top: 170px;
}

div.fixed#cotabato {
	margin-left: 233px;
	margin-top: 218px;
}

div.fixed#fortichbukidnon {
	margin-left: 255px;
	margin-top: 190px;
}

div.fixed#langihanbutuan {
	margin-left: 285px;
	margin-top: 155px;
}

div.fixed#talakagbukidnon {
	margin-left: 275px;
	margin-top: 200px;
}

div.fixed#torildavao {
	margin-left: 295px;
	margin-top: 235px;
}

div.fixed#bugocagayandeoro {
	margin-left: 255px;
	margin-top: 160px;
}

div.fixed#puertocagayandeoro {
	margin-left: 255px;
	margin-top: 145px;
}

div.fixed#macasandigcagayandeoro {
	margin-left: 265px;
	margin-top: 155px;
}

div.fixed#iponancagayandeoro {
	margin-left: 270px;
	margin-top: 150px;
}

div.projectTitle#iligan {
	margin-left: 0px;
	margin-top: 150px;
}

div.projectTitle#zamboanga {
	margin-left: -100px;
	margin-top: 270px;
}

div.projectTitle#davao {
	margin-left: 380px;
	margin-top: 240px;
}

div.projectTitle#cotabato {
	margin-left: 0px;
	margin-top: 210px;
}

div.projectTitle#fortichbukidnon {
	margin-left: 380px;
	margin-top: 100px;
}

div.projectTitle#langihanbutuan {
	margin-left: 380px;
	margin-top: 120px;
}

div.projectTitle#talakagbukidnon {
	margin-left: 380px;
	margin-top: 140px;
}

div.projectTitle#torildavao {
	margin-left: 380px;
	margin-top: 160px;
}

div.projectTitle#bugocagayandeoro {
	margin-left: 380px;
	margin-top: 180px;
}

div.projectTitle#puertocagayandeoro {
	margin-left: 380px;
	margin-top: 200px;
}

div.projectTitle#macasandigcagayandeoro {
	margin-left: 380px;
	margin-top: 220px;
}

div.projectTitle#iponancagayandeoro {
	margin-left: 380px;
	margin-top: 240px;
}
